:root{
	--negro: #333;
	--gris: #666;
	--melon: #fe664e;
	--rojo: #FB334E;
	--niebla: #F4F7FC;
}

@font-face {
  src: url(../fonts/Poppins-SemiBold.ttf);
  font-family: Poppins;
  font-weight: 600;
}

@font-face {
  src: url(../fonts/Poppins-Medium.ttf);
  font-family: Poppins;
  font-weight: 500; 
}

@font-face {
  src: url(../fonts/Poppins-Regular.ttf);
  font-family: Poppins;
  font-weight: 400;
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-download:before {
  content: "\e900";
  color: #fff;
}
.icon-facebook:before {
  content: "\e901";
  color: #fff;
}
.icon-instagram:before {
  content: "\e902";
  color: #fff;
}
.icon-location:before {
  content: "\e903";
  color: #fe664e;
}
.icon-mail:before {
  content: "\e904";
  color: #fe664e;
}
.icon-perfil:before {
  content: "\e905";
  color: #fff;
}
.icon-phone:before {
  content: "\e906";
  color: #fe664e;
}
.icon-playstore:before {
  content: "\e907";
  color: #fff;
}
.icon-star:before {
  content: "\e908";
  color: #fff;
}
.icon-trofeo:before {
  content: "\e909";
  color: #fff;
}
.icon-twitter:before {
  content: "\e90a";
  color: #fff;
}

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: Poppins;
}

.header{
  position: fixed;
  background-color: transparent;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  z-index: 100;
  transition: background-color .5s;
}

#home{
  background-image: url(../images/home.svg);
  height: 90vh;
  background-position: bottom;
}

.menu_list_enlace{
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  transition: all 0.2s ease;
}

.menu_list_enlace:hover{
  border-bottom: 3px solid #fff;
}

.button_descargar_spam{
  width: 100%;
  padding: 2px 20px;
  border: 2px solid #fff;
  outline-offset: 1px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 20px;
  transition: all 0.2s ease;
}

.button_descargar_spam{
  color: #fff;
}

.button_descargar_spam:hover{
  background-color: #fff;
  color: var(--melon);
}

.menu{
  display: flex;
  justify-content: space-between;
}

.center-vertical{
  display: flex;
  align-items: center;
}

.frase-home h2{
  color: #fff;
  font-size: 34px;
  margin-bottom: 20px;
}

.callToAction{
  width: 250px;
}

.svg-inner{
  transition: all 0.3s ease-out;
}

.callToAction:hover .svg-fill{
  fill: #fff;
}

.callToAction:hover .svg-inner{
  fill: var(--rojo);
}

.image-big1{
  position: absolute;
  right: 100px;
  bottom: 50px;
}

.text-align{
  text-align: center;
}

.subtitle{
  color: var(--negro);
  font-size: 32px;
}

.subtitle-text{
  color: var(--gris);
  font-weight: 400;
  font-size: 16px;
}

.feature_subtitle{
  color: var(--negro);
  font-size: 24px;
  line-height: 34px;
}

.feature_text{
  color: var(--gris);
  font-size: 16px;
}

#caracteristicas{
  background-color: var(--niebla);
}

.features{
  margin-bottom: 50px;
}

.margin-section{
  padding-top: 50px;
  padding-bottom: 50px;
}

.margin-subtitle{
  margin-bottom: 40px;
}

#estadisticas{
  background: linear-gradient(180deg, #FE664E 0%, #FB334E 100%);
}

.white{
  color: #fff !important;
}

.stadistics{
  margin-top: 15px;
  margin-bottom: 15px;
}

.stadistics i{
  font-size: 65px;
}

.stadistics h5{
  font-size: 20px;
  color: #fff;
  line-height: 24px;
  margin-top: 15px;
}

.testimonios_frase{
  font-size: 20px;
  color: var(--negro);
  margin-bottom: 20px;
}

.testimonios_usuarios h5{
  font-size: 20px;
  color: var(--negro);
}

.testimonios_usuarios p{
  font-size: 18px;
  color: var(--gris);
}

.user_image{
  max-width: 120px;
  margin-right: auto;
  margin-left: auto;
}

#contactanos{
  background-color: var(--niebla); 
  height: 750px;
}

.form_input{
  border: none;
  color: var(--gris);
  padding-top: 8px;
  padding-bottom: 8px; 
  padding-left: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form_input:nth-child(3), .form_input:nth-child(4){
  margin-top: 15px;
}

.form_button{
  background: linear-gradient(90.89deg, #FE664E 0.23%, #FB334E 102.04%);
  border: none;
  color: #fff;
  font-weight: 600; 
  padding: 10px 50px;
  margin-top: 20px;
}

.contact_info{
  margin-left: 50px;
}

.contact_info h5{
  font-size: 24px;
  color: var(--negro);
  font-weight: 600;
} 

.contact_info_list{
  font-size: 22px;
  font-weight: 500;
  color: var(--gris);
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contact_info_list_icon{
  width: 35px;
  display: flex;
  justify-content: center;
  margin-right: 15px;
}
footer{
  background-image: url(../images/footer.svg);
  background-position: top;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 40px;
}

.footer h4{
  color: #fff;
  font-weight: 500;
}

.footer_social{
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.social_icons{
  font-size: 35px;
  margin-left: 15px;
}